{
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 2],
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "^_"}],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "eslint:recommended"
}
